ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

li {
    display: inline;
    padding-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}


h1 {
	font-size: 100px;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 100px;
	font-weight: 900;
	

}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	text-align: justify;
    padding-right: 430px;
    padding-bottom: 50px;
    padding-left: 429px;
    font-weight:100;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	text-align: left;
    padding-right: 425px;
    padding-bottom: 50px;
    padding-left: 425px;
   

}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: lightgray;
}

a:active {
    text-decoration: bold;
    color: black;
}
